/* -------------------------------    General   -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #000;
}

:root {
    --tr_black: rgba(0, 0, 0, 0.5);
    --white: #FFF;
    --red_netflix: #ab261f;
    --tr_grey: rgba(255, 255, 255, 0.5);
}

/* -------------------------------    Nav    -------------------------------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
    background: var(--tr_black);
    transition: 0.5s;
}

header .logo img {
    max-width: 150px;
}
.naviguation {
    display: flex;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
}

.naviguation li {
    list-style: none;
    margin: 0 10px;
}

.naviguation li a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.naviguation li a:hover {
    color: var(--red_netflix);
    transition: 0.3s;
    transform: scale3d(1.1, 1.1, 1.1);
    display: inline-block;
}

.card:hover .imgBx {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.4s;
}

.search {
    position: relative;
    width: 55px;
    height: 40px;
    transition: 2s;
}

.search:hover {
    width: 200px;
}

.search:hover input {
    width: 100%;
}

.search:hover .fa-search {
    border-right: 1px solid var(--white);
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--tr_grey);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: var(--white);
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: var(--white);
}


/* -------------------------------    Banner    -------------------------------------- */

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.movie_title {
    max-width: 250px;
}

.banner .content h4 {
    color: var(--tr_grey);
    font-weight: 500;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid var(--tr_grey);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: var(--red_netflix);
    color: var(--white);
    padding: 1px 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--white);
    margin: 10px 0 20px;
}

.banner .content .buttons a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--red_netflix);
    color: var(--white);
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
    height: 50px;
    width: 180px;
    text-align: center;
    line-height: 35px;
    font-size: 23px;
    border-radius: 5%;
}

.banner .content .buttons a:nth-child(2), .banner .content .buttons a:nth-child(3) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.banner .content .buttons a:hover {
    background: var(--red_netflix);
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: 1.2em;
    cursor: pointer;
}

.play img {
    max-width: 50px;
    margin-right: 10px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 1400px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

/* -------------------------------    Cards Slider    -------------------------------------- */

.slider {
    position: relative;
    max-width: 100%;
    min-height: 50vh;
    background: #000;
}

.slider .title {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 3vh auto;
}

.swiper-slide {
    background-position: center;
    /* margin-top: calc(50vh - 175px); */
    background-size: cover;
    width: 350px;
    height: 350px;
    margin: 0 20px;
    background: var(--white);
}

.slider .card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #333;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.slider .card .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;
    background: radial-gradient(var(--red_netflix), #000);
}

.slider .card:hover .layer {
    top: 0;
}

.slider .card .content {
    position: relative;
    z-index: 2;
    height: 100%;
}

.slider .card .content p {
    font-size-adjust: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--white);
}

.slider .card .content .imgBx {
    width: 100px;
    height: 150px;
    margin: 0 auto 10px;
    border-radius: 15%;
    overflow: hidden;
    border: 4px solid var(--white);
    box-shadow: 0 19px 20px rgba(0, 0, 0, 0.5);
}

.slider .card .content .imgBx img {
    width: 100%;
    height: 100%;
}

.slider .card .content h2 {
    font-size: 18px;
    color: var(--white);
}

.slider .card .content span {
    font-size: 14px;
    transition: 0.5;
    color: #FFFCB3
}

/* -------------------------------    Carroussel    -------------------------------------- */

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 300px;
    min-height: 400px;
    margin-left: 1rem;
    scroll-snap-align: start;
}


/* -------------------------------    Responsive    -------------------------------------- */


@media (max-width: 991px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
    .naviguation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    .banner {
        padding: 100px 50px;
    }
    .banner .play {
        left: 50px;
        font-style: 1em;
    }
    .play img {
        margin-right: 10px;
        max-width: 40px;
    }
    .trailer video {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px;
    }
    .search {
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }
    .banner {
        padding: 220px 20px 120px;
    }
    .banner .play {
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
}

/* -------------------------------    Loading   -------------------------------------- */

#loading_screen {
    z-index: 10000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    animation: diseapear 4s linear;
}

@keyframes diseapear {
    0% {
        top: 0;
    }
    80% {
        top: 0;
    }
    99% {
        top: -200vh;
    }
    100% {
        display: none;
    }
}

#loading_screen img {
    width: 30%;
    position: absolute;
    left: calc((100% - 30%) / 2);
    top: calc((100% - 30%) / 2);
    transition: 3s;
    transform: scale(0.1);
    animation: grow 4s linear;
}

@keyframes grow {
    0% {
        width: 1%;
        left: calc((100% - 1%) / 2);
        transform: scale(0.1);
        opacity: 0;
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

#loading_screen i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, var(--red_netflix));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: raining 4s linear infinite;
}

@keyframes raining {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(calc(100vh + 200px));
    }
}

/* -------------------------------    Info Movie   -------------------------------------- */

.movie_info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;
    width: 100%;
    height: 100%;
    display: flex;
    backdrop-filter: blur(20px);
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}
.movie_info.active {
    visibility: visible;
    opacity: 1;
}

#movie_info .content {
    width: 100%;
    display: block;
    justify-content: flex-start;
    padding: 40px;
    overflow: scroll;
    margin-bottom: 15px;
}

.img_box {
    width: 40%;
    margin: auto;
}

#movie_info #img_movie {
    margin: 0 25%;
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.5);
}

.box_info {
    color: var(--white);
    background: radial-gradient(var(--red_netflix), #000);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: flex;
    min-height: 330px;
    min-width: 900px;
}

.box_info .content h4 {
    color: var(--tr_grey);
    font-weight: 500;
}

.box_info .content h4 span {
    padding: 0 10px;
    border-right: 1px solid var(--tr_grey);
}

.box_info .content h4 span:first-child {
    padding-left: 0;
}

.box_info .content h4 span:last-child {
    border-right: none;
}

.box_info .content h4 span i {
    background: var(--red_netflix);
    color: var(--white);
    padding: 1px 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.distribution, .directors, .rated {
    color: var(--tr_grey);
    font-weight: 500;
    font-size: 0.6em;
}

#actors, #directors, #rated {
    color: var(--white);
    font-size: 1.2em;
}